@page "/accounts"
@using Northwind
@using Models.Northwind
@inject NavigationManager NavigationManager
@inject INorthwindService NorthwindService

<div class="row-layout accounts-container">
    <div class="row-layout group">
        <div class="column-layout group_1">
            <div class="column-layout group_2">
                <div class="row-layout header">
                    <div class="row-layout page-title">
                        <div class="row-layout group_3">
                            <img src="assets/Accounts%20Icon%20-%20Green.svg" class="image" />
                        </div>
                        <h6 class="h6">
                            Accounts
                        </h6>
                    </div>
                    <div class="row-layout buttons">
                        <IgbButton Variant="ButtonVariant.Flat" DisplayType="ButtonBaseType.Button" @onclick="@(e => _newAccountDialog!.ToggleAsync())" class="button button_2" accounts-scope>
                            <span class="material-icons icon">
                                business
                            </span>
                            <span>New Account</span>
                            <IgbRipple></IgbRipple>
                        </IgbButton>
                        <IgbButton Variant="ButtonVariant.Flat" DisplayType="ButtonBaseType.Button" class="button button_3" accounts-scope>
                            <span class="material-icons icon">
                                search
                            </span>
                            <span>Discover companies</span>
                            <IgbRipple></IgbRipple>
                        </IgbButton>
                        <IgbButton Variant="ButtonVariant.Flat" DisplayType="ButtonBaseType.Button" class="button button_4" accounts-scope>
                            <span class="material-icons icon">
                                import_export
                            </span>
                            <span>Import</span>
                            <IgbRipple></IgbRipple>
                        </IgbButton>
                    </div>
                </div>
                <div class="row-layout filters-and-sorting">
                    <div class="row-layout group_4">
                        <IgbSelect Outlined="false" Value="@_value" Change="@(e => _value = e.Detail.Value)" class="select" accounts-scope>
                            <IgbSelectItem Value="1">
                                My Accounts
                            </IgbSelectItem>
                            <IgbSelectItem Value="2">
                                All Accounts
                            </IgbSelectItem>
                        </IgbSelect>
                        <IgbInput Placeholder="Search accounts" Outlined="false" class="input" accounts-scope>
                            <span slot="prefix">
                                <span class="material-icons icon_1">
                                    search
                                </span>
                            </span>
                        </IgbInput>
                    </div>
                    <div class="row-layout group_5">
                        <IgbButton Variant="ButtonVariant.Flat" DisplayType="ButtonBaseType.Button" @ref="_button" @onclick="@(e => _dropdown!.ToggleAsync(_button))" class="button button_5" accounts-scope>
                            <span>Recently Updated</span>
                            <span class="material-icons icon">
                                keyboard_arrow_down
                            </span>
                            <IgbRipple></IgbRipple>
                        </IgbButton>
                        <IgbDropdown @ref="_dropdown" class="dropdown" accounts-scope>
                            <IgbDropdownItem>
                                Name
                            </IgbDropdownItem>
                            <IgbDropdownItem>
                                Recently Updated
                            </IgbDropdownItem>
                        </IgbDropdown>
                    </div>
                </div>
            </div>
            <IgbGrid Data="@_northwindCustomers" PrimaryKey="ContactName" AllowFiltering="true" FilterMode="FilterMode.ExcelStyleFilter" @onclick="@(e => Navigate("/account_sample"))" class="ig-typography grid" accounts-scope>
                <IgbColumn Field="CustomerID" DataType="GridColumnDataType.String" Header="customerID" Sortable="true" Selectable="false"></IgbColumn>
                <IgbColumn Field="CompanyName" DataType="GridColumnDataType.String" Header="companyName" Sortable="true" Selectable="false"></IgbColumn>
                <IgbColumn Field="ContactName" DataType="GridColumnDataType.String" Header="contactName" Sortable="true" Selectable="false"></IgbColumn>
                <IgbColumn Field="ContactTitle" DataType="GridColumnDataType.String" Header="contactTitle" Sortable="true" Selectable="false"></IgbColumn>
                <IgbColumn Field="Address.Street" DataType="GridColumnDataType.String" Header="street" Sortable="true" Selectable="false"></IgbColumn>
                <IgbColumn Field="Address.City" DataType="GridColumnDataType.String" Header="city" Sortable="true" Selectable="false"></IgbColumn>
                <IgbColumn Field="Address.Region" DataType="GridColumnDataType.String" Header="region" Sortable="true" Selectable="false"></IgbColumn>
                <IgbColumn Field="Address.PostalCode" DataType="GridColumnDataType.String" Header="postalCode" Sortable="true" Selectable="false"></IgbColumn>
                <IgbColumn Field="Address.Country" DataType="GridColumnDataType.String" Header="country" Sortable="true" Selectable="false"></IgbColumn>
                <IgbColumn Field="Address.Phone" DataType="GridColumnDataType.String" Header="phone" Sortable="true" Selectable="false"></IgbColumn>
            </IgbGrid>
        </div>
    </div>
    <IgbDialog CloseOnOutsideClick="true" @ref="_newAccountDialog">
        <div class="column-layout group_6">
            <h6 class="h6_1">
                New Account
            </h6>
            <div class="column-layout group_7">
                <div class="column-layout group_8">
                    <p class="typography__subtitle-2 text">
                        ACCOUNT INFORMATION
                    </p>
                    <div class="row-layout group_9">
                        <div class="column-layout group_10">
                            <IgbInput Label="Account Name" Outlined="false" class="user-input" accounts-scope>
                                <span slot="suffix">
                                    <span class="material-icons icon_1">
                                        search
                                    </span>
                                </span>
                            </IgbInput>
                            <IgbSelect Outlined="false" Label="Type" Value="@_value1" Change="@(e => _value1 = e.Detail.Value)" class="user-input" accounts-scope>
                                <IgbSelectItem Value="1">
                                    -- None --
                                </IgbSelectItem>
                                <IgbSelectItem Value="2">
                                    Analyst
                                </IgbSelectItem>
                                <IgbSelectItem Value="3">
                                    Competitor
                                </IgbSelectItem>
                                <IgbSelectItem Value="4">
                                    Customer
                                </IgbSelectItem>
                                <IgbSelectItem Value="5">
                                    Integrator
                                </IgbSelectItem>
                                <IgbSelectItem Value="6">
                                    Investor
                                </IgbSelectItem>
                                <IgbSelectItem Value="7">
                                    Partner
                                </IgbSelectItem>
                                <IgbSelectItem Value="8">
                                    Press
                                </IgbSelectItem>
                                <IgbSelectItem Value="9">
                                    Prospect
                                </IgbSelectItem>
                                <IgbSelectItem Value="10">
                                    Reseller
                                </IgbSelectItem>
                                <IgbSelectItem Value="11">
                                    Other
                                </IgbSelectItem>
                            </IgbSelect>
                            <IgbInput Label="Website" Outlined="false" class="user-input" accounts-scope></IgbInput>
                            <IgbTextarea Label="Description" Outlined="false" class="user-input" accounts-scope></IgbTextarea>
                        </div>
                        <div class="column-layout group_10">
                            <div class="column-layout group_11">
                                <p class="typography__caption text_1">
                                    Account Owner
                                </p>
                                <p class="typography__body-1 text_2">
                                    Andrea Silveira
                                </p>
                            </div>
                            <IgbInput Label="Parent Account" Placeholder="Search Accounts..." Outlined="false" class="user-input" accounts-scope>
                                <span slot="suffix">
                                    <span class="material-icons icon_1">
                                        search
                                    </span>
                                </span>
                            </IgbInput>
                            <IgbInput DisplayType="InputType.Tel" Label="Phone" Outlined="false" class="user-input" accounts-scope></IgbInput>
                            <IgbSelect Outlined="false" Label="Industry" Value="@_value1" Change="@(e => _value1 = e.Detail.Value)" class="user-input" accounts-scope>
                                <IgbSelectItem Value="1">
                                    -- None --
                                </IgbSelectItem>
                                <IgbSelectItem Value="2">
                                    Agriculture
                                </IgbSelectItem>
                                <IgbSelectItem Value="3">
                                    Apparel
                                </IgbSelectItem>
                                <IgbSelectItem Value="4">
                                    Banking
                                </IgbSelectItem>
                                <IgbSelectItem Value="5">
                                    Biotechnology
                                </IgbSelectItem>
                                <IgbSelectItem Value="6">
                                    Chemicals
                                </IgbSelectItem>
                                <IgbSelectItem Value="7">
                                    Communications
                                </IgbSelectItem>
                                <IgbSelectItem Value="8">
                                    Construction
                                </IgbSelectItem>
                            </IgbSelect>
                            <IgbSelect Outlined="false" Label="Employees" class="user-input" accounts-scope>
                                <IgbSelectItem Value="1">
                                    Self Employed
                                </IgbSelectItem>
                                <IgbSelectItem Value="2">
                                    1-10
                                </IgbSelectItem>
                                <IgbSelectItem Value="3">
                                    11-50
                                </IgbSelectItem>
                                <IgbSelectItem Value="4">
                                    51-250
                                </IgbSelectItem>
                                <IgbSelectItem Value="5">
                                    +250
                                </IgbSelectItem>
                            </IgbSelect>
                        </div>
                    </div>
                </div>
                <div class="row-layout group_12">
                    <div class="column-layout group_10">
                        <p class="typography__subtitle-2 text_3">
                            BILLING INFORMATION
                        </p>
                        <IgbInput Label="Address" Placeholder="Search Address" Outlined="false" class="user-input" accounts-scope>
                            <span slot="suffix">
                                <span class="material-icons icon_1">
                                    search
                                </span>
                            </span>
                        </IgbInput>
                        <IgbInput Label="Street" Outlined="false" class="user-input" accounts-scope></IgbInput>
                        <div class="row-layout group_13">
                            <IgbInput Label="City" Outlined="false" class="user-input_2" accounts-scope></IgbInput>
                            <IgbInput Label="State / Province" Outlined="false" class="user-input_2" accounts-scope></IgbInput>
                        </div>
                        <div class="row-layout group_13">
                            <IgbInput Label="Zip / Postal Code" Outlined="false" class="user-input_2" accounts-scope></IgbInput>
                            <IgbSelect Outlined="false" Label="Country" Value="@_value1" Change="@(e => _value1 = e.Detail.Value)" class="user-input_2" accounts-scope>
                                <IgbSelectItem Value="2">
                                    Country 1
                                </IgbSelectItem>
                                <IgbSelectItem Value="2">
                                    Country 1
                                </IgbSelectItem>
                                <IgbSelectItem Value="2">
                                    Country 1
                                </IgbSelectItem>
                                <IgbSelectItem Value="2">
                                    Country 1
                                </IgbSelectItem>
                                <IgbSelectItem Value="2">
                                    Country 1
                                </IgbSelectItem>
                            </IgbSelect>
                        </div>
                    </div>
                    <div class="column-layout group_10">
                        <p class="typography__subtitle-2 text_3">
                            SHIPPING INFORMATION
                        </p>
                        <IgbInput Label="Address" Placeholder="Search Address" Outlined="false" class="user-input" accounts-scope>
                            <span slot="suffix">
                                <span class="material-icons icon_1">
                                    search
                                </span>
                            </span>
                        </IgbInput>
                        <IgbInput Label="Street" Outlined="false" class="user-input" accounts-scope></IgbInput>
                        <div class="row-layout group_13">
                            <IgbInput Label="City" Outlined="false" class="user-input_2" accounts-scope></IgbInput>
                            <IgbInput Label="State / Province" Outlined="false" class="user-input_2" accounts-scope></IgbInput>
                        </div>
                        <div class="row-layout group_13">
                            <IgbInput Label="Zip / Postal Code" Outlined="false" class="user-input_2" accounts-scope></IgbInput>
                            <IgbSelect Outlined="false" Label="Country" Value="@_value1" Change="@(e => _value1 = e.Detail.Value)" class="user-input_2" accounts-scope>
                                <IgbSelectItem Value="2">
                                    Country 1
                                </IgbSelectItem>
                                <IgbSelectItem Value="2">
                                    Country 1
                                </IgbSelectItem>
                                <IgbSelectItem Value="2">
                                    Country 1
                                </IgbSelectItem>
                                <IgbSelectItem Value="2">
                                    Country 1
                                </IgbSelectItem>
                                <IgbSelectItem Value="2">
                                    Country 1
                                </IgbSelectItem>
                            </IgbSelect>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div slot="footer">
            <IgbButton Variant="ButtonVariant.Flat" DisplayType="ButtonBaseType.Button" @onclick="@(e => _newAccountDialog!.ToggleAsync())" class="button_1" accounts-scope>
                Cancel
                <IgbRipple></IgbRipple>
            </IgbButton>
            <IgbButton DisplayType="ButtonBaseType.Button" @onclick="@(e => _newAccountDialog!.ToggleAsync())" class="button_1 button_1_1" accounts-scope>
                Save
                <IgbRipple></IgbRipple>
            </IgbButton>
        </div>
    </IgbDialog>
</div>

@code {
    private IgbDialog _newAccountDialog;
    private IgbDropdown _dropdown;
    private string _value = "2";
    private IgbButton _button;
    private List<CustomersType> _northwindCustomers = new();
    private string _value1 = "1";

    public void Navigate(string path)
    {
        NavigationManager.NavigateTo(path);
    }

    protected override async Task OnInitializedAsync()
    {
        _northwindCustomers = await NorthwindService.GetCustomers();
        await base.OnInitializedAsync();
    }
}
