@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="column-layout master-view-container">
    <div class="row-layout group">
        <div @onclick="@(e => _navDrawer!.ToggleAsync())" class="row-layout group_1">
            <span class="material-icons icon">
                menu
            </span>
        </div>
        <IgbNavbar class="navbar" master_view-scope>
            <div class="row-layout group_2">
                <img src="assets/CRM%20Logo.svg" class="image" />
            </div>
            <IgbIconButton slot="end" Variant="IconButtonVariant.Flat" class="icon-button" master_view-scope>
                <span class="material-icons icon_1">
                    search
                </span>
                <IgbRipple></IgbRipple>
            </IgbIconButton>
            <IgbIconButton slot="end" Variant="IconButtonVariant.Flat" class="icon-button" master_view-scope>
                <span class="material-icons icon_1">
                    settings
                </span>
                <IgbRipple></IgbRipple>
            </IgbIconButton>
            <IgbIconButton slot="end" Variant="IconButtonVariant.Flat" class="icon-button" master_view-scope>
                <span class="material-icons icon_1">
                    notifications_none
                </span>
                <IgbRipple></IgbRipple>
            </IgbIconButton>
        </IgbNavbar>
    </div>
    <div class="row-layout group_3">
        <IgbNavDrawer Open="true" Position="NavDrawerPosition.Relative" @ref="_navDrawer" class="nav-drawer" master_view-scope>
            <IgbList class="list" master_view-scope>
                <IgbListItem @onclick="@(e => Navigate("/home"))">
                    <IgbAvatar Src="assets/Home-Avatar-Icon.svg" slot="start" Shape="AvatarShape.Circle" class="avatar" master_view-scope></IgbAvatar>
                    <div slot="title">Home</div>
                </IgbListItem>
                <IgbListItem @onclick="@(e => Navigate("/accounts"))">
                    <IgbAvatar Src="assets/Accounts-Avatar-Icon.svg" slot="start" Shape="AvatarShape.Circle" class="avatar" master_view-scope></IgbAvatar>
                    <div slot="title">Accounts</div>
                </IgbListItem>
                <IgbListItem @onclick="@(e => Navigate("/contacts"))">
                    <IgbAvatar Src="assets/Contacts-Avatar-Icon.svg" slot="start" Shape="AvatarShape.Circle" class="avatar" master_view-scope></IgbAvatar>
                    <div slot="title">Contacts</div>
                </IgbListItem>
                <IgbListItem @onclick="@(e => Navigate("/contracts"))">
                    <IgbAvatar Src="assets/Contracts-Avatar-Icon.svg" slot="start" Shape="AvatarShape.Circle" class="avatar" master_view-scope></IgbAvatar>
                    <div slot="title">Contracts</div>
                </IgbListItem>
                <IgbListItem @onclick="@(e => Navigate("/reports"))">
                    <IgbAvatar Src="assets/Reports-Avatar-Icon.svg" slot="start" Shape="AvatarShape.Circle" class="avatar" master_view-scope></IgbAvatar>
                    <div slot="title">Reports</div>
                </IgbListItem>
                <IgbListItem @onclick="@(e => Navigate("/calendar"))">
                    <IgbAvatar Src="assets/Calendar-Avatar-Icon.svg" slot="start" Shape="AvatarShape.Circle" class="avatar" master_view-scope></IgbAvatar>
                    <div slot="title">Calendar</div>
                </IgbListItem>
                <IgbListItem @onclick="@(e => Navigate("/tasks"))">
                    <IgbAvatar Src="assets/Tasks-Avatar-Icon.svg" slot="start" Shape="AvatarShape.Circle" class="avatar" master_view-scope></IgbAvatar>
                    <div slot="title">Tasks</div>
                </IgbListItem>
            </IgbList>
        </IgbNavDrawer>
        <div class="view-container">
            @Body
        </div>
    </div>
</div>

@code {
    private IgbNavDrawer _navDrawer;

    public void Navigate(string path)
    {
        NavigationManager.NavigateTo(path);
    }
}
